noderedflow/flow.txt
[{"id":"b0432933.4fbcd8","type":"http in","name":"go","url":"/go","method":"get","x":62.42857360839844,"y":300.1428527832031,"z":"b1288c15.4ed77","wires":[["76ae5786.8951a8","457d3d43.ba82c4"]]},{"id":"193203ea.e6cdfc","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"niklas","deviceType":"and","eventCommandType":"setRoll","format":"json","data":"____","name":"sphero setRoll","service":"registered","x":872.857177734375,"y":399.7142639160156,"z":"b1288c15.4ed77","wires":[]},{"id":"76ae5786.8951a8","type":"function","name":"go","func":"msg.data = { heading: context.global.spokenHeading, velocity: context.global.defaultVelocity }\nreturn msg;","outputs":1,"x":479,"y":302,"z":"b1288c15.4ed77","wires":[["b56e83e4.4a918"]]},{"id":"457d3d43.ba82c4","type":"http response","name":"output","x":233,"y":404,"z":"b1288c15.4ed77","wires":[]},{"id":"706a3d3b.8f95c4","type":"http in","name":"reverse","url":"/reverse","method":"get","x":59,"y":372,"z":"b1288c15.4ed77","wires":[["499b7e09.b6648","457d3d43.ba82c4"]]},{"id":"499b7e09.b6648","type":"function","name":"reverse","func":"var newHeading = context.global.spokenHeading - 180;\nif (newHeading < 0) { newHeading += 360; }\ncontext.global.spokenHeading = newHeading;\n\nmsg.data = { heading: context.global.spokenHeading, velocity: context.global.defaultVelocity }\nreturn msg;","outputs":1,"x":477,"y":371,"z":"b1288c15.4ed77","wires":[["b56e83e4.4a918"]]},{"id":"2187e43b.de781c","type":"http in","name":"left","url":"/left","method":"get","x":57,"y":441,"z":"b1288c15.4ed77","wires":[["6642134b.99bdec","457d3d43.ba82c4"]]},{"id":"6642134b.99bdec","type":"function","name":"left","func":"var newHeading = context.global.spokenHeading - 90;\nif (newHeading < 0) { newHeading += 360; }\ncontext.global.spokenHeading = newHeading;\n\nmsg.data = { heading: context.global.spokenHeading, velocity: context.global.defaultVelocity }\nreturn msg;","outputs":1,"x":474,"y":439,"z":"b1288c15.4ed77","wires":[["b56e83e4.4a918"]]},{"id":"5959a82.fa6a658","type":"function","name":"right","func":"var newHeading = context.global.spokenHeading + 90;\nif (newHeading > 360) { newHeading -= 360; }\ncontext.global.spokenHeading = newHeading;\n\nmsg.data = { heading: context.global.spokenHeading, velocity: context.global.defaultVelocity }\nreturn msg;","outputs":1,"x":470,"y":508,"z":"b1288c15.4ed77","wires":[["b56e83e4.4a918"]]},{"id":"40288a34.bfd774","type":"http in","name":"right","url":"/right","method":"get","x":56,"y":510,"z":"b1288c15.4ed77","wires":[["5959a82.fa6a658","457d3d43.ba82c4"]]},{"id":"82b9467c.7d46b8","type":"inject","name":"init","topic":"","payload":"","payloadType":"none","repeat":"","crontab":"","once":true,"x":86,"y":1004,"z":"b1288c15.4ed77","wires":[["d324f6d2.2cdb08"]]},{"id":"d324f6d2.2cdb08","type":"function","name":"","func":"context.global.spokenHeading = 0;\ncontext.global.defaultVelocity = 0.8;\n","outputs":1,"x":273,"y":1004,"z":"b1288c15.4ed77","wires":[[]]},{"id":"b56e83e4.4a918","type":"function","name":"build command","func":"msg.payload = JSON.stringify({\n\td: {\n\t\theading: msg.data.heading,\n\t\tvelocity: msg.data.velocity\n\t}\n});\nreturn msg;","outputs":1,"x":667,"y":401,"z":"b1288c15.4ed77","wires":[["193203ea.e6cdfc","5693aa97.a96c54"]]},{"id":"68fd7632.970288","type":"twitter in","twitter":"","tags":"#niklasdemo","user":"false","name":"","topic":"tweets","x":74,"y":202,"z":"b1288c15.4ed77","wires":[["59d40c54.a62bf4","76ae5786.8951a8"]]},{"id":"59d40c54.a62bf4","type":"debug","name":"","active":true,"console":"false","complete":"false","x":282,"y":155,"z":"b1288c15.4ed77","wires":[]},{"id":"1656216d.e9a9df","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"watson","eventType":"partial","commandType":"","format":"","name":"Watson speech","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"x":82,"y":87,"z":"b1288c15.4ed77","wires":[["4c6d3e21.b392c","969335f0.696cc8"
]]},{"id":"4c6d3e21.b392c","type":"debug","name":"","active":true,"console":"false","complete":"false","x":288,"y":27,"z":"b1288c15.4ed77","wires":[]},{"id":"969335f0.696cc8","type":"function","name":"extract keyword","func":"var phrase = msg.payload.value.trim();\nvar wordCount = phrase.split(\" \").length;\nmsg = {\n\tkeyword: phrase.split(\" \")[wordCount-1]\n};\nreturn msg;","outputs":1,"x":297,"y":86,"z":"b1288c15.4ed77","wires":[["d85a59a.f27a5a8"]]},{"id":"d85a59a.f27a5a8","type":"switch","name":"check keywords","property":"keyword","rules":[{"t":"eq","v":"go"},{"t":"eq","v":"reverse"},{"t":"eq","v":"left"},{"t":"eq","v":"right"}],"checkall":"true","outputs":4,"x":499,"y":86,"z":"b1288c15.4ed77","wires":[["76ae5786.8951a8"],["499b7e09.b6648"],["6642134b.99bdec"],["5959a82.fa6a658"]]},{"id":"5693aa97.a96c54","type":"debug","name":"","active":true,"console":"false","complete":"true","x":865,"y":343,"z":"b1288c15.4ed77","wires":[]},{"id":"d920220a.26dfe","type":"ibmiot in","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"","applicationId":"","deviceType":"wat","eventType":"","commandType":"","format":"","name":"HighestBig5","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":false,"allEvents":true,"allCommands":"","allFormats":true,"x":89,"y":587,"z":"b1288c15.4ed77","wires":[["e47088e6.1b8f78","ef7e5cd9.1081a"]]},{"id":"e47088e6.1b8f78","type":"debug","name":"","active":true,"console":"false","complete":"false","x":298,"y":586,"z":"b1288c15.4ed77","wires":[]},{"id":"ef7e5cd9.1081a","type":"function","name":"","func":"\nmsg = {\n\thighestBig5: msg.payload.highestBig5\n};\nreturn msg;","outputs":1,"x":267,"y":674,"z":"b1288c15.4ed77","wires":[["7b3fa8eb.84c058"]]},{"id":"7b3fa8eb.84c058","type":"switch","name":"switch","property":"highestBig5","rules":[{"t":"eq","v":"Openness"},{"t":"eq","v":"Conscientiousness"},{"t":"eq","v":"Extraversion"},{"t":"eq","v":"Agreeableness"},{"t":"eq","v":"Neuroticism"}],"checkall":"true","outputs":5,"x":434,"y":674,"z":"b1288c15.4ed77","wires":[["eec18fa8.113e7"],["e4bb1ca.f1b44e"],["c6ccb735.393348"],["37965907.c869a6"],["1d25db38.e2da25"]]},{"id":"70f5acc3.8f0a54","type":"ibmiot out","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"niklas","deviceType":"and","eventCommandType":"setColor","format":"json","data":"____","name":"set color","service":"registered","x":997,"y":666,"z":"b1288c15.4ed77","wires":[]},{"id":"eec18fa8.113e7","type":"function","name":"red","func":"msg.data = { color: \"red\" }\nreturn msg;","outputs":1,"x":592,"y":625,"z":"b1288c15.4ed77","wires":[["a10aa194.5ef56"]]},{"id":"a10aa194.5ef56","type":"function","name":"build command","func":"var c = msg.data.color;\n\nmsg.payload = JSON.stringify({\n\td: {\n\t\tcolor: c\n\t}\n});\nreturn msg;","outputs":1,"x":794,"y":634,"z":"b1288c15.4ed77","wires":[["70f5acc3.8f0a54","76634cdc.899cb4"]]},{"id":"76634cdc.899cb4","type":"debug","name":"","active":true,"console":"false","complete":"true","x":932,"y":733,"z":"b1288c15.4ed77","wires":[]},{"id":"e4bb1ca.f1b44e","type":"function","name":"green","func":"msg.data = { color: \"green\" }\nreturn msg;","outputs":1,"x":595,"y":708,"z":"b1288c15.4ed77","wires":[["a10aa194.5ef56"]]},{"id":"c6ccb735.393348","type":"function","name":"blue","func":"msg.data = { color: \"blue\" }\nreturn msg;","outputs":1,"x":597,"y":785,"z":"b1288c15.4ed77","wires":[["a10aa194.5ef56"]]},{"id":"37965907.c869a6","type":"function","name":"yellow","func":"msg.data = { color: \"yellow\" }\nreturn msg;","outputs":1,"x":601,"y":863,"z":"b1288c15.4ed77","wires":[["a10aa194.5ef56"]]},{"id":"1d25db38.e2da25","type":"function","name":"black","func":"msg.data = { color: \"green\" }\nreturn msg;","outputs":1,"x":599,"y":936,"z":"b1288c15.4ed77","wires":[["a10aa194.5ef56"]]},{"id":"368142be.c97ebe","type":"http in","name":"red","url":"/colorred","method":"get","x":64,"y":768,"z":"b1288c15.4ed77","wires":[["e66455bf.199ba8","eec18fa8.113e7"]]},{"id":"e66455bf.199ba8","type":"http response","name":"output","x":205,"y":769,"z":"b1288c15.4ed
77","wires":[]},{"id":"65f6c0fd.9a094","type":"http in","name":"yellow","url":"/coloryellow","method":"get","x":61,"y":845,"z":"b1288c15.4ed77","wires":[["e66455bf.199ba8","37965907.c869a6"]]}]